<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo</title>
    <link rel="icon" type="image/x-icon" href="../frontend/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href ="{{ url_for('serve_frontend', path='demo.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">

</head>
    <nav class="navbar navbar-dark bg-dark">
      <div style="font-family: Georgia, 'Times New Roman', Times, serif;"
           class="container-fluid d-flex justify-content-center">
        <div class="d-flex align-items-center mr-auto">
          <a class="navbar-brand" style="color:#ffffff;">
            <img src="../frontend/images/logo_3.png" width="40" height="32" class="d-inline-block align-top" alt="">
            Locus.ai
          </a>
        </div>
        <a class="nav-link  {% if request.path == url_for('home') %}active{% endif %}" href="{{ url_for('home') }}">Home</a>
        <a class="nav-link disabled {% if request.path == url_for('demo') %}active{% endif %}" href="{{ url_for('demo') }}">Demo</a>
        <a class="nav-link {% if request.path == url_for('aboutme') %}active{% endif %}" href="{{ url_for('aboutme') }}">About Me</a>
        <a class="nav-link {% if request.path == url_for('faq') %}active{% endif %}" href="{{ url_for('faq') }}">Methodology</a>
      </div>
    </nav>
<body>
  <div class="column"> Demo is yet to be implemented.</div>

</body>
<footer>
    <div class="bg-dark py-4">
      <div class="container text-center">
        <p class="text-muted mb-0 py-2"> Locus.ai ©2023, All rights reserved.</p>
      </div>
    </div>
</footer>
</html>